extends ../../layout/admin/main

block content
  .page-body
    .container-fluid
      .page-title
        .row
          .col-6
            h3
              | Attribute
          .col-6
            ol.breadcrumb
              li.breadcrumb-item
                a(href='/admin/dashboard')
                  i(data-feather='home')
              li.breadcrumb-item
                a(href='/admin/attributes')
                | Attributes
              li.breadcrumb-item.active Add
    // Container-fluid starts
    .container-fluid
      .row.size-column
        .col-sm-12
          .card
            - var messages = getMessages()
            - var errors = [];
            .card-header
              h5 Add new attribute
            form(class= (messages.validation) ? "was-validated form theme-form" : "form theme-form" action='/admin/attribute/store', method='POST', enctype='multipart/form-data', novalidate)
              .card-body
                if messages.notify
                  each msg in messages.notify
                    .alert.alert-info.dark.alert-dismissible.fade.show(role='alert')
                      strong= msg
                      button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
                
                              
                if messages.error
                  each msg in messages.error
                    .alert.alert-danger.dark.alert-dismissible.fade.show(role='alert')
                      strong= msg
                      button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
                
                              
                if messages.validation
                  - errors = messages.validation[0].errors;                    
                  .alert.alert-danger.dark.alert-dismissible.fade.show(role='alert')
                      strong Holy ! 
                      |  Validation Error
                      button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')

                .row
                  .col
                    .mb-3.row
                      label.col-sm-3.col-form-label Name
                      .col-sm-9
                        input(class= ( errors.name ) ? 'form-control is-invalid' : 'form-control' type='text' name='name' placeholder='Name' required value=( formData && formData.name ) ? formData.name : '')
                        if (messages.validation && errors.name )
                          each error in errors.name
                            .invalid-feedback= error
                    .mb-3.row
                      label.col-sm-3.col-form-label Code
                      .col-sm-9
                        input(class= ( errors.code ) ? 'form-control is-invalid' : 'form-control' type='text' name='code' placeholder='Code' required value=( formData && formData.code ) ? formData.code : '')
                        if (messages.validation && errors.code )
                          each error in errors.code
                            .invalid-feedback= error
                    .mb-3.row
                      label.col-sm-3.col-form-label Type
                      .col-sm-9
                        input(class= ( errors.type ) ? 'form-control is-invalid' : 'form-control' type='text' name='type' placeholder='Type' required value=( formData && formData.type ) ? formData.type : '')
                        if (messages.validation && errors.type )
                          each error in errors.type
                            .invalid-feedback= error
                    .mb-3.row
                      label.col-sm-3.col-form-label Regular Expression
                      .col-sm-9
                        input(class= ( errors.regex ) ? 'form-control is-invalid' : 'form-control' type='text' name='regex' placeholder='Regular Expression' value=( formData && formData.regex ) ? formData.regex : '')
                        if (messages.validation && errors.regex )
                          each error in errors.regex
                            .invalid-feedback= error
                    .mb-3.row
                      label.col-sm-3.col-form-label Position
                      .col-sm-9
                        input(class= ( errors.position ) ? 'form-control is-invalid' : 'form-control' type='number' name='position' placeholder='Position' required value=( formData && formData.position ) ? formData.position : '')
                        if (messages.validation && errors.position )
                          each error in errors.position
                            .invalid-feedback= error
                    .mb-3.row
                      label.col-sm-3.col-form-label Validation
                      .col-sm-9
                        input(class= ( errors.valid ) ? 'form-control is-invalid' : 'form-control' type='text' name='valid' placeholder='Validation' value=( formData && formData.valid ) ? formData.valid : '')
                        if (messages.validation && errors.valid )
                          each error in errors.valid
                            .invalid-feedback= error
                    .mb-3.row
                      label.col-sm-3.col-form-label Required
                      .col-sm-9
                        .col
                          .m-t-15.m-checkbox-inline.custom-radio-ml
                            .form-check.form-check-inline.radio.radio-primary
                              input#required1.form-check-input(type='radio' name='required' value='true')
                              label.form-check-label.mb-0(for='required1')
                                | True
                            .form-check.form-check-inline.radio.radio-primary
                              input#required2.form-check-input(type='radio' name='required' value='false' checked='true')
                              label.form-check-label.mb-0(for='required2')
                                | False
                    .mb-3.row
                      label.col-sm-3.col-form-label Unique
                      .col-sm-9
                        .col
                          .m-t-15.m-checkbox-inline.custom-radio-ml
                            .form-check.form-check-inline.radio.radio-primary
                              input#unique1.form-check-input(type='radio' name='unique' value='true')
                              label.form-check-label.mb-0(for='unique1')
                                | True
                            .form-check.form-check-inline.radio.radio-primary
                              input#unique2.form-check-input(type='radio' name='unique' value='false' checked='true')
                              label.form-check-label.mb-0(for='unique2')
                                | False

                    .mb-3.row
                      label.col-sm-3.col-form-label Filterable
                      .col-sm-9
                        .col
                          .m-t-15.m-checkbox-inline.custom-radio-ml
                            .form-check.form-check-inline.radio.radio-primary
                              input#filterable1.form-check-input(type='radio' name='filterable' value='true')
                              label.form-check-label.mb-0(for='filterable1')
                                | True
                            .form-check.form-check-inline.radio.radio-primary
                              input#filterable2.form-check-input(type='radio' name='filterable' value='false' checked='true')
                              label.form-check-label.mb-0(for='filterable2')
                                | False
                    .mb-3.row
                      label.col-sm-3.col-form-label Configurable
                      .col-sm-9
                        .col
                          .m-t-15.m-checkbox-inline.custom-radio-ml
                            .form-check.form-check-inline.radio.radio-primary
                              input#configurable1.form-check-input(type='radio' name='configurable' value='true')
                              label.form-check-label.mb-0(for='configurable1')
                                | True
                            .form-check.form-check-inline.radio.radio-primary
                              input#configurable2.form-check-input(type='radio' name='configurable' value='false' checked='true')
                              label.form-check-label.mb-0(for='configurable2')
                                | False
                    .mb-3.row
                      label.col-sm-3.col-form-label Visible
                      .col-sm-9
                        .col
                          .m-t-15.m-checkbox-inline.custom-radio-ml
                            .form-check.form-check-inline.radio.radio-primary
                              input#visible1.form-check-input(type='radio' name='visible' value='true')
                              label.form-check-label.mb-0(for='visible1')
                                | True
                            .form-check.form-check-inline.radio.radio-primary
                              input#visible2.form-check-input(type='radio' name='visible' value='false' checked='true')
                              label.form-check-label.mb-0(for='visible2')
                                | False
                    .mb-3.row
                      label.col-sm-3.col-form-label.pt-0 Comparable
                      .col-sm-9
                        .col
                          .m-t-15.m-checkbox-inline.custom-radio-ml
                            .form-check.form-check-inline.radio.radio-primary
                              input#comparable1.form-check-input(type='radio' name='comparable' value='true')
                              label.form-check-label.mb-0(for='comparable1')
                                | True
                            .form-check.form-check-inline.radio.radio-primary
                              input#comparable2.form-check-input(type='radio' name='comparable' value='false' checked='true')
                              label.form-check-label.mb-0(for='comparable2')
                                | False
                    .mb-3.row
                      label.col-sm-3.col-form-label.pt-0 Status
                      .col-sm-9
                        .col
                          .m-t-15.m-checkbox-inline.custom-radio-ml
                            .form-check.form-check-inline.radio.radio-primary
                              input#status1.form-check-input(type='radio' name='status' value='1' checked='true')
                              label.form-check-label.mb-0(for='status1')
                                | Actice
                            .form-check.form-check-inline.radio.radio-primary
                              input#status2.form-check-input(type='radio' name='status' value='0')
                              label.form-check-label.mb-0(for='status2')
                                | In-Actice
                    
              .card-footer.text-end
                .col-sm-9.offset-sm-3
                  button.btn.btn-primary(type='submit') Submit
                  input.btn.btn-light(type='reset' value='Cancel')
