doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content='Cuba admin is super flexible, powerful, clean & modern responsive bootstrap 5 admin template with unlimited possibilities.')
  meta(name='keywords' content='admin template, Cuba admin template, dashboard template, flat admin template, responsive admin template, web app')
  meta(name='author' content='pixelstrap')
  link(rel='icon' href='../assets/images/favicon.png' type='image/x-icon')
  link(rel='shortcut icon' href='../assets/images/favicon.png' type='image/x-icon')
  title Cuba - Premium Admin Template
  // Google font
  link(href='https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&display=swap' rel='stylesheet')
  link(rel='stylesheet' type='text/css' href='../assets/css/font-awesome.css')
  // ico-font
  link(rel='stylesheet' type='text/css' href='../assets/css/vendors/icofont.css')
  // Themify icon
  link(rel='stylesheet' type='text/css' href='../assets/css/vendors/themify.css')
  // Flag icon
  link(rel='stylesheet' type='text/css' href='../assets/css/vendors/flag-icon.css')
  // Feather icon
  link(rel='stylesheet' type='text/css' href='../assets/css/vendors/feather-icon.css')
  // Plugins css start
  // Plugins css Ends
  // Bootstrap css
  link(rel='stylesheet' type='text/css' href='../assets/css/vendors/bootstrap.css')
  // App css
  link(rel='stylesheet' type='text/css' href='../assets/css/style.css')
  link#color(rel='stylesheet' href='../assets/css/color-1.css' media='screen')
  // Responsive css
  link(rel='stylesheet' type='text/css' href='../assets/css/responsive.css')
// login page start
.container-fluid
  .row
    .col-xl-7.order-1
      img.bg-img-cover.bg-center(src='../assets/images/login/1.jpg' alt='looginpage')
    .col-xl-5.p-0
      .login-card
        block content

  script.
    (function() {
    'use strict';
    window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
    form.addEventListener('submit', function(event) {
    if (form.checkValidity() === false) {
    event.preventDefault();
    event.stopPropagation();
    }
    form.classList.add('was-validated');
    }, false);
    });
    }, false);
    })();
  // latest jquery
  script(src='../assets/js/jquery-3.5.1.min.js')
  // Bootstrap js
  script(src='../assets/js/bootstrap/bootstrap.bundle.min.js')
  // feather icon js
  script(src='../assets/js/icons/feather-icon/feather.min.js')
  script(src='../assets/js/icons/feather-icon/feather-icon.js')
  // scrollbar js
  // Sidebar jquery
  script(src='../assets/js/config.js')
  // Plugins JS start
  // Plugins JS Ends
  // Theme js
  script(src='../assets/js/script.js')
  // login js
  // Plugin used